/* General reset and base styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
  }
  
  .navbar {
    position: relative;
    height: 120px;
    width: 500px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar ul {
    display: flex;
    position: relative;
  }
  
  .navbar ul li {
    list-style-type: none;
  }
  
  .navbar ul li a {
    height: 120px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
  }
  
  .navbar ul li a i {
    font-size: 38px;
    color: #7d2ae8;
    position: absolute;
  }
  
  ul li a i.activeIcon {
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease 0.2s;
  }
  
  .navbar ul li.active a i {
    opacity: 1;
    pointer-events: auto;
  }
  
  .navbar ul .indicator {
    position: absolute;
    bottom: -19px;
    left: 34px;
    height: 36px;
    width: 25px;
    background: #7d2ae8;
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  ul .indicator::before,
  ul .indicator::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 20px;
    bottom: 50%;
    background: #fff;
    box-shadow: 0 10px 0 #7d2ae8;
  }
  
  ul .indicator::before {
    left: -15px;
    border-bottom-right-radius: 20px;
  }
  
  ul .indicator::after {
    right: -15px;
    border-bottom-left-radius: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .navbar {
      width: 100%;
    }
  
    .navbar ul li a {
      width: 70px;
    }
  
    ul .indicator {
      width: 20px;
    }
  }