*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root{
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  font-family: Georgia, serif;
  background-color: #031926;
  color: #E7E7E7;
  min-height: 100vh;
}

b{
  font-weight: 900;
  color: #3b89ce;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: #274656;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #01111a;
  border-radius: 100px;
}

/* Background */
.bg{
  position:fixed;
  z-index: -1;
  bottom: 0px;  
}

.bgtwo{
  position:fixed;
  z-index: -1;
  top: 220px;
}

.bgtemp{
  position:fixed;
  z-index: -1;
  top: -30px;
}

/* NAVBAR */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
  top: 0;
  background-color: rgba(1, 17, 26, 0.8); /* Original background */
  transition: all 0.7s ease;
}

.blur {
  backdrop-filter: blur(10px); /* Apply blur effect */
  background-color: rgba(11, 5, 41, 0.329); /* Darker when blurred */
}


.Logo {
  font-size: 32px;
  letter-spacing: 2px;
  padding-left: 7%;
  color: #fff350e2;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.NavbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7%;
  font-weight: 500;
  font-size: 22px;
}

.NavbarLinks li {
  padding: 2px 20px;
  list-style-type: none;
  position: relative;
}

.NavbarLinks a {
  color: #c2c1c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%;
  padding: 2px 7px;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Transition for background color */
}

.NavbarLinks li.active a {
  background-color: rgba(144, 103, 198, 0.3);
  /*Backgroundcolorforactivelink*/border-radius: 25px;
   /* Rounded corners for active link */
}

.NavbarLinks a:hover {
  color: #ffffff;
  background-color: rgba(144, 103, 198, 0.2); /* Slight background change on hover */
  border-radius: 25px;
}

.NavbarLinks a::after {
  background-color: #ffffff;
  content: "";
  position: absolute;
  height: 3px;
  left: 5px;
  bottom: 0;
  width: 0px;
  border-radius: 25px;
  transition: 0.3s;
}

.NavbarLinks a:hover:after {
  width: 95%;
  border-radius: 25px;
}

/* Ripple effect for links */
.NavbarLinks a:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(103, 157, 198, 0.403);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  animation: rippleHover 0.6s ease forwards;
}

@keyframes rippleHover {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

.Hamburger {
  display: none;
  position: relative;
}

.Hamburger::before,
.Hamburger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(231, 231, 231, 0.6);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.6);
  animation: rippleEffect 1.5s infinite;
}

.Hamburger::after {
  animation-delay: 0.75s;
}

@keyframes rippleEffect {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.6);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}

.bar {
  display: block;
  background-color: #E7E7E7;
  border-radius: 50px;
  height: 2.5px;
  width: 30px;
  margin: 6px;
  transition: 0.5s;
}

.barOne {
  rotate: -225deg;
  position: relative;
  top: 4px;
  transition: 0.5s;
}

.barTwo {
  display: none;
}

.barThree {
  position: relative;
  bottom: 4px;
  rotate: 225deg;
  transition: 0.5s;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.card-container {
  background-color: rgba(46, 30, 94, 0.702);
  border-radius: 15px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding: 65px 20px;
  position: relative;
  width: 275px;
  height: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.5;
}

.card-container .pro {
  color: #231E39;
  background-color: #FEBB0B;
  border-radius: 5px;
  font-size: 8px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-container .round {
  border: 1px solid #03BFCB;
  border-radius: 50%;
  padding: 7px;
  width: 120px; /* Increased width */
  height: 120px; /* Increased height */
}

button.primary {
  background-color: #03BFCB; /* Primary color */
  border: 1px solid #03BFCB;
  border-radius: 20px; /* Rounded corners */
  color: #fff; /* Text color */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 12px 30px; /* Increased padding for better spacing */
  margin: 10px; /* Added margin */
  cursor: pointer;
  background: linear-gradient(135deg, #11d3ffb8, #28a746c9); /* Gradient background */
  font-size: 1rem;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.3s ease;

  /* Default box shadow */
  box-shadow: 0 5px 15px rgba(0, 195, 255, 0.2);
}

button.primary:hover {
  /* Hover effects */
  box-shadow: 0 15px 30px rgba(0, 195, 255, 0.4); /* Brightened shadow on hover */
  transform: scale(1.1); /* Slight enlargement on hover */
}


button.primary.ghost {
  background-color: transparent;
  color: #eaeaea;
}

.tally-form-embed {
  text-align: center;
  color: red;
}

/* Home.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  font-size: 16px;
}

.modal-close {
  font-size: 14px;
  padding: 5px 10px;
}


/* Responsive Styles */
@media (max-width: 768px) 
{
  .Navbar {
    width: 100%;
  }

  .NavbarLinks {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    inset: 0 0 0 50%;
    gap: 50px;
    background-color: #41458edf;
    height: 350px;
    padding-top: max(70px,20px);
    transform: translateX(100%);
    transition: 0.4s;
    margin-top: 75px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

  .showNavbar {
    transform: translateX(0);
  }

  .Hamburger {
    display: block;
    z-index: 2;
    padding: 5px;
    padding-right: 7%;
    cursor: pointer;
  }
}



/* HOME PAGE */

.HomePage{
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  margin-bottom: -50px;
  align-items: center;
}
.HomeText h1{
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

.about_text_paragraphs {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-size: large;
}
.TypeEffect{
  padding: 25px 0px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
}

.illustration{
  width: 400px;
  height: 400px;
}

@media(max-width:768px){
  .HomePage{
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 25px;
  }
  .HomeText{
    text-align: left;
    display: inline-block;
  }
  .illustration{
    margin: auto;
    margin-bottom: 50px;
  }
}

@media(max-width: 500px) {
  .HomePage{
    min-height: 70vh;
  }
  .NavbarLinks{
    inset: 0 0 0 30%;
  }
  .HomeText h1{
    font-weight: 500;
    font-size: 28px;
  }  
  .TypeEffect{
    font-weight: 500;
    font-size: 24px;
  }
  .illustration{
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
}


/* ABOUT */

.AboutPage{
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 160px;
  align-items: center;
  padding: 25px;
}

.AboutText{
  width: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.AboutTextHeading{
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}
.AboutText a{
  color: #9067C6;
  text-decoration: underline;
  font-weight: bold;
}

.Avatar{
  width: 280px;
}

@media(max-width:900px){
  .AboutPage{
    display: block;
    text-align: center;
    padding: 30px;    
  }
  .AboutText{
    text-align: left;
    display: inline-block;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 80px;
  }
  .AboutTextHeading{
    font-size: 26px;
  }

  .Avatar{
    width: 200px;
    margin-bottom: 75px;
  }
}

/* Skills section */
.skills{
  display: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10%;
}

.SkillBox{
  width: 150px auto;
  height: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 25px 25px 0px;
  border: 3px solid #431f47;
  font-size: 64px;
  border-radius: 5px;
  transition: 0.5s;
}
.SkillBox:hover{
  transform: scale(1.2);
  box-shadow: 0 2px 8px 0 #431f47;
}

.SkillsHeading{
  text-align: center;
  margin: 50px 10px;
  font-size: 36px;
  letter-spacing: 0.6px;
}

@media(max-width: 500px) {
  .AboutText{
    font-size: 16px;
  }
  .Avatar{
    width: 200px;
    margin-bottom: 25px;
  }

  .SkillsHeading{
    font-size: 26px;
  }
  .SkillBox{
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}


/* Project */

.projectHeading{
  text-align: center;
  padding: 75px 0;
  letter-spacing: 0.4px;
  font-size: 36px;
  margin-top: 100px;
}

.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 5%;
}

.projectBox{
  width: 50px auto;
  border: 3px solid #431f47;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 22px;
  
  margin: 0px 25px 50px 25px;
  transition: 0.5s;
}
.projectBox:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 #431f47;
}

.projectPhoto{
  display: block;
  width: 10%;
  margin: 20px 0px;
}

.projectbtn{
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  border-radius: 5px;
  background-color: #431f47;
  color: #E7E7E7;
  height: 30px;
  cursor:pointer;
  text-decoration: none;
  border-style: none;
}

/* FOOTER */

footer{
  width: 90%;
  height: 40px;
  margin: 10px auto;
  margin-top: 80px;
  letter-spacing: 0.5px;
  
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  position: relative;
  bottom: 0px;
  text-align: center;
}

footer h4{
  margin: 0 25px;
  font-weight: 500;
}

.footerLinks{
  display: flex;
  width: 180px;
  font-size: 18px;
  justify-content: space-evenly;
}

.footerLinks a{ 
  text-decoration: none;
  color: inherit;
}

@media(max-width:750px){
  footer{
    height: 110px;
  }
}
